<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_HOME" value="${catalina.base}/logs"/>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>-->
            <pattern>%date [%thread] %-5level [%X{Trace_ID}] %logger{50}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="RDSOUT" class="com.cwbase.logback.RedisAppender">
        <source>xylink-wechat-api</source>
        <tags>dev</tags>
        <host>101.226.16.213</host>
        <port>6379</port>
        <key>wechat-api</key>

        <layout class="com.cwbase.logback.JSONEventLayout">
            <!-- JSONEventLayout Attributes Here -->
            <source>wechat-api</source>
            <sourcePath>wechat-api-source-path</sourcePath>
            <type>wechat-application</type>
        </layout>
    </appender>



    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="RDSOUT"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- ignore error page log-->
    <logger name="org.springframework.boot.context.web.ErrorPageFilter">
        <level value="OFF" />
    </logger>
</configuration>